<footer>
    <div class="footer-left">
        <div class="logo-copy">
        <img src="../icons/logo.svg" width="120" alt="DUCK" title="DUCK">
        <div>
            © 2020 DUCK<br>
            Все права защищены.
        </div>
     </div>
        <div class="footer-menu">
        <ul>
           <li>
              <a href="/food-stock/pizza">Пицца</a>
           </li>
           <li>
              <a href="/food-stock/sushi">Суши</a>
           </li>
           <li>
              <a href="/food-stock/soups">Супы</a>
           </li>
        </ul>
        </div>
        <div class="footer-menu">
        <ul>
           <li>
              <a href="/food-stock/salad">Салаты</a>
           </li>
           <li>
              <a href="/food-stock/sugar">Десерты</a>
           </li>
           <li>
              <a href="/food-stock/drink">Напитки</a>
           </li>
        </ul>
        </div>
    </div>
    <div class="footer-right">
        <div class="share">
            <a href="https://vk.com/oldbunnylover" target="_blank"><img src="../img/vk.png" alt="ВК"></a>
            <a href="https://www.tiktok.com/@4m0shnik" target="_blank"><img src="../img/tiktok.png" alt="Тикток"></a>
        </div>
    </div>
</footer>
<script src="../js/script.js"></script>
<script src="../js/cart.js"></script>
<script>
   date_time();
</script>